:root{
    margin:0;
    
}
body{
background: rgb(237,177,65);
background: radial-gradient(circle, rgba(237,177,65,1) 0%, rgba(0,0,0,1) 100%);
align-items:center;
display:flex;
justify-content:center;
flex-direction:column;
width:100vw;
height:100vh;
}
.btn:hover{
    background-color:rgb(232, 133, 52);
}

.btn{
    height:75px;
    width:75px;
    margin: 15px;
    font-size: 40px;
}
.number{
    border: 3px solid rgb(139, 99, 40);
    border-radius: 10px;
}
.operator{
    border: 1px solid rgb(129, 60, 14);
    border-radius: 10px;
}
.decimal{
    border: 2px solid rgb(224, 143, 20);
    border-radius: 10px;
    
}
.equal{
    border: 2px solid rgb(224, 143, 20);
    border-radius: 10px;
}

.clear{
    border: 2px solid rgb(232, 191, 70);
    border-radius: 10px;
}
.first-row{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
   
}
.result{
    width:300px;
    border:1px solid rgb(232, 158, 67);
    border-radius:10px;
    height:75px;
    margin:15px;
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items:flex-end;
    background-color: rgb(205, 156, 83);
}

.previous{
    font-size:20px;
}
.current{
    font-size:30px;
}
.calculator{
    border:3px ridge rgb(113, 75, 17);
    border-radius:15px;
    background-color:rgb(183, 140, 75);
}

footer{
    text-align:center;
    font-size:14px;
}

a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration:none;
  }
  a:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
  }